apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ aplicacion.nombre }}"
  namespace: "{{ k8s_namespace }}"
spec:
  replicas: {{ aplicacion.replicas }}
  selector:
    matchLabels:
      app: "{{ aplicacion.nombre }}"
  template:
    metadata:
      labels:
        app: "{{ aplicacion.nombre }}"
    spec:
      nodeSelector:
        "kubernetes.io/os": linux
      containers:
      - name: "{{ aplicacion.nombre }}"
        image: "{{ aplicacion.imagen }}"
        resources:
          requests:
            cpu: "{{ aplicacion.recursos.cpu }}"
            memory: "{{ aplicacion.recursos.memoria }}"
          limits:
            cpu: "{{ aplicacion.limites.cpu }}"
            memory: "{{ aplicacion.limites.memoria }}"
        ports:
        - containerPort: {{ aplicacion.puerto }}
          name: "{{ aplicacion.nombre }}"
        volumeMounts:
          - name: mongo-db
            mountPath: /data/db
      volumes:
        - name: mongo-db
          persistentVolumeClaim:
            claimName: azure-managed-disk
---
apiVersion: v1
kind: Service
metadata:
  name: "{{ aplicacion.nombre }}"
  namespace: "{{ k8s_namespace }}"
spec:
  type: LoadBalance
  ports:
    - port: {{ aplicacion.puerto }}
      targetPort: {{ aplicacion.puerto }}
  selector:
    app: "{{ aplicacion.nombre }}"
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: azure-managed-disk
  namespace: "{{ k8s_namespace }}"
spec:
  storageClassName: managed-premium-retainfs
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 2Gi